<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WorkFlow"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.WorkFlow">
    <activity
        android:name="com.example.workflow.CreateProfile"
        android:exported="false" />
        <activity
            android:name=".DailyCalendarActivity"
            android:exported="true" />
        <activity android:name=".EventEditActivity" />
        <activity android:name=".WeekViewActivity" />
    <activity
        android:name="com.example.workflow.MainActivity"
        android:exported="false" />
    <activity
        android:name="com.example.workflow.ProfileViewActivity"
        android:exported="false" />
        <activity android:name="com.example.workflow.WelcomeScreen"
            android:exported="true"/>
    <activity
        android:name="com.example.workflow.Navigation"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>


    </manifest>
